### Wisdom Sparke -- An Inventory Planning Project Through Pandas, NumPy & API 
###### (Data Sources: Amazon Book Sales CSV file & 2 New York Times API endpoints)

In [35]:
import requests
import pandas as pd

#### Retrieve Book Review URL

In [38]:
def get_nyt_book_reviews(api_key, title=None, author=None, isbn=None):
    
    # NYT Reviews API endpoint
    url = "https://api.nytimes.com/svc/books/v3/reviews.json"
    
    # Query parameters
    params = {
        "api-key": api_key,
        "title": title,
        "author": author,
        "isbn": isbn
    }
    
    try:
        # Make GET request to NYT API
        response = requests.get(url, params=params)
        response.raise_for_status()  # Raise error for bad requests
        
        # Parse JSON response
        data = response.json()
        
        # Check if results are available
        if data.get("results"):
            for review in data["results"]:
                print(f"\nüìñ Book Title: {review['book_title']}")
                print(f"‚úçÔ∏è Author: {review['book_author']}")
                print(f"üóìÔ∏è Publication Date: {review['publication_dt']}")
                print(f"üìù Summary: {review['summary']}")
                print(f"üîó Review URL: {review['url']}\n{'-'*50}")
        else:
            print("No reviews found for the given criteria.")
            
    except requests.exceptions.RequestException as error:
        print(f"Error: {error}")

# Replace with your NYT API key
API_KEY = "KRNfb5hISnWt9MtiZ90Afg4zjBk1MHPm"

# Example usage:
get_nyt_book_reviews(api_key=API_KEY, title=["becoming"])

üìñ Book Title: Becoming
‚úçÔ∏è Author: Michelle Obama
üóìÔ∏è Publication Date: 2018-12-06
üìù Summary: The former first lady‚Äôs long-awaited new memoir recounts with insight, candor and wit her family‚Äôs trajectory from the Jim Crow South to Chicago‚Äôs South Side and her own improbable journey from there to the White House.
üîó Review URL: https://www.nytimes.com/2018/12/06/books/review/michelle-obama-becoming-memoir.html
--------------------------------------------------

#### Retrieve All Best-sellers From All Lists

In [41]:
# Replace with your NYT API Key
API_KEY = "KRNfb5hISnWt9MtiZ90Afg4zjBk1MHPm"

# NYT Books API endpoint for full bestsellers overview
URL = "https://api.nytimes.com/svc/books/v3/lists/full-overview.json"

# Request data from NYT API (latest list by leaving 'published_date' blank)
params = {"api-key": API_KEY}
response = requests.get(URL, params=params)

# Check if the request was successful
if response.status_code == 200:
    data = response.json()

    # Extract relevant data
    book_records = []
    for list_data in data["results"]["lists"]:
        list_name = list_data["list_name"]  # List category name

        for book in list_data["books"]:  # Loop through books in the list
            book_records.append({
                "list_name": list_name,
                "title": book["title"],
                "weeks_on_list": book.get("weeks_on_list", 0),  # Default to 0 if missing
                "author": book["author"],
                "rank": book["rank"],
                "price": book["price"]
                
            })

    # Convert to Pandas DataFrame
    df = pd.DataFrame(book_records)
    
    print(df.head())  # Preview first few rows

else:
    print("Error:", response.status_code, response.json())  # Print error details

                           list_name            title  weeks_on_list  \
0  Combined Print and E-Book Fiction       ONYX STORM              5
1  Combined Print and E-Book Fiction   MIDNIGHT BLACK              1
2  Combined Print and E-Book Fiction  THE NIGHTINGALE             70
3  Combined Print and E-Book Fiction      FOURTH WING             83
4  Combined Print and E-Book Fiction         DEEP END              3

           author  rank price
0  Rebecca Yarros     1  0.00
1    Mark Greaney     2  0.00
2  Kristin Hannah     3  0.00
3  Rebecca Yarros     4  0.00
4   Ali Hazelwood     5  0.00

In [43]:
# df

In [45]:
# Save as CSV (only keeping "title" & "author")

booklist = df[["title","author"]]
booklist.to_csv("nyt_books_inventory.csv", index=False)
booklist

                          title           author
0                    ONYX STORM   Rebecca Yarros
1                MIDNIGHT BLACK     Mark Greaney
2               THE NIGHTINGALE   Kristin Hannah
3                   FOURTH WING   Rebecca Yarros
4                      DEEP END    Ali Hazelwood
..                          ...              ...
225              BETTING ON YOU     Lynn Painter
226                   THE PARTY  Natasha Preston
227              THE BOOK THIEF     Markus Zusak
228  THIS SONG IS (NOT) FOR YOU     Laura Nowlin
229       A THOUSAND BOY KISSES      Tillie Cole

[230 rows x 2 columns]

In [47]:
# Download this csv file into local computer.

from IPython.display import FileLink
# Create a download link
FileLink("nyt_books_inventory.csv")

C:\Users\luson\IH_QUESTS\Project-1\nyt_books_inventory.csv